<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyDcYDBqvJkKv2gLx990VxfcLtho992lQ_U",
    authDomain: "app-7ed40.firebaseapp.com",
    databaseURL: "https://app-7ed40.firebaseio.com",
    projectId: "app-7ed40",
    storageBucket: "app-7ed40.appspot.com",
    messagingSenderId: "590128181339",
    appId: "1:590128181339:web:f602afd41c2407d4e98f7e",
    measurementId: "G-81H7P4C8KD"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>
</body>
</html>